In [2]:
import requests
import re
import json
import pandas as pd
import numpy as np
import urllib

In [3]:
#קריאת קבצים
f_name = open("dests.txt")
#דאטה
new_data = {'city': [], 'ditance': [],'time':[], 'lang': [], 'lat': []}
df = pd.DataFrame(new_data)
Serviceurl = 'https://maps.googleapis.com/maps/api/distancematrix/json?'
parms = dict() 
parms["origins"]= "תל אביב"
parms['key'] =api_key = '########'
#מיכוון שמדובר על מספר מקומות שרשומים בצורה נכונה לא הוספתי TRY  
for line in f_name:
    line = line.rstrip()
    parms['destinations'] = address = line
    url = Serviceurl + urllib.parse.urlencode(parms)
    url_2="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api_key)
    response = requests.get(url).json()
    response_data = requests.get(url_2).json()    
    lat=response_data['results'][0]['geometry']['location']["lat"]
    lng=response_data['results'][0]['geometry']['location']["lng"]
    time= response['rows'][0]['elements'][0]['duration']['text']#זמן נסיעה
    distance=response['rows'][0]['elements'][0]['distance']['text']#נותן מרחק
    if time.find("day")>0:
        time=str((int(re.findall("^[0-9]",time)[0])*24) + int(re.findall("\s[0-9]",time)[0]))
    df.loc[len(df)] = [line,distance,str(time), lng,lat]#i לא מספר

        city   ditance              time       lang        lat
0   Istanbul  1,815 km   21 hours 3 mins  28.978359  41.008238
1  Amsterdam  4,527 km                48   4.904139  52.367573
2   Valletta  3,793 km                51  14.514100  35.899237
3      Basel  4,093 km                26   7.588576  47.559599
4       Doha  2,164 km  22 hours 39 mins  51.531040  25.285447

In [ ]:
df

In [83]:
#Q2
df=df.sort_values('ditance', ascending= False)
df.head(3)

        city   ditance            time       lang        lat
1  Amsterdam  4,535 km  2 days 0 hours   4.904139  52.367573
3      Basel  4,093 km  1 day 20 hours   7.588576  47.559599
2   Valletta  3,793 km  2 days 3 hours  14.514100  35.899237