In [1]:
import requests
import re
import json
import pandas as pd
import numpy as np
import urllib

In [44]:
#קריאת קבצים
f_name = open("dests.txt")
#דאטה
new_data = {'city': [], 'ditance': [],'time':[], 'lang': [], 'lat': []}
df = pd.DataFrame(new_data)
Serviceurl = 'https://maps.googleapis.com/maps/api/distancematrix/json?'
parms = dict() 
parms["origins"]= "תל אביב"
parms['key'] =api_key = '######'
#מיכוון שמדובר על מספר מקומות שרשומים בצורה נכונה לא הוספתי TRY  
for line in f_name:
    line = line.rstrip()
    parms['destinations'] = address = line
    url = Serviceurl + urllib.parse.urlencode(parms)
    url_2="https://maps.googleapis.com/maps/api/geocode/json?address=%s&key=%s" % (address,api_key)
    response = requests.get(url).json()
    response_data = requests.get(url_2).json()    
    lat=response_data['results'][0]['geometry']['location']["lat"]
    lng=response_data['results'][0]['geometry']['location']["lng"]
    time= response['rows'][0]['elements'][0]['duration']['value']#זמן נסיעה
    distance=response['rows'][0]['elements'][0]['distance']['text']#נותן מרחק
    finel_time=str(int(int(float(time)/60)/60)) + " hour ,"+str(int(float(time)/60)%60)+" second"
    df.loc[len(df)] = [line,distance,str(finel_time), lng,lat]#i לא מספר

In [45]:
df

        city   ditance                time       lang        lat
0   Istanbul  1,815 km   21 hour ,2 second  28.978359  41.008238
1  Amsterdam  4,533 km   48 hour ,3 second   4.904139  52.367573
2   Valletta  3,793 km  50 hour ,50 second  14.514100  35.899237
3      Basel  4,093 km   44 hour ,2 second   7.588576  47.559599
4       Doha  2,164 km  22 hour ,38 second  51.531040  25.285447

In [46]:
#Q2
df=df.sort_values('ditance', ascending= False)
df.head(3)["city"]

1    Amsterdam
3        Basel
2     Valletta
Name: city, dtype: object